@import "base.css";

nav {
    display: flex;
    padding: 5px;
    width: 100%;
    background-color: #45008f;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--vt-c-white-soft);
}

